
.phenom {
    border-bottom: 0;
    margin-top: 30px;

    margin-left: 40px;
    min-height: 32px;
    padding: 8px 0;
    position: relative;
}
.phenom-creator {
    height: 32px;
    left: -40px;
    position: absolute;
    top: 8px;
    width: 32px;
}


.action-comment {
    background: #fff;
    box-shadow: none;
}

.phenom-list {
    padding-left: 5px;
    padding-right: 5px;
}


/* The sidebar menu */
.sidebar {
    height: 87%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    bottom: 0;
    right: 0;
    border-radius: 15px;
    background-color: #f4f5f7; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
/*.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}*/

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #000;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 10px;
    cursor: pointer;
    background-color: #6f6f6f;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #c4bcd4;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s; /* If you want a transition effect */

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}