<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/active_client.css">
    <link rel="stylesheet" type="text/css" href="css/navigation.css">
    <link rel="stylesheet" type="text/css" href="css/site_activity.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div th:replace="fragm :: menu"></div>
<section class="section">
    <h1>Active Client Dashboard</h1>
    <div id="main" class="pull-right">
        <button class="openbtn" onclick="openNav()">&#9776; Show Menu</button>
    </div>
</section>

<div class="drag-container">
    <ul class="drag-list" id="timeEl">
        <li class="drag-column drag-column-on-hold">
      <span class="drag-column-header">
        <h2>First Contact</h2>
        <svg class="drag-header-more" data-target="options1" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/</svg>
      </span>

            <div class="drag-options" id="options1"></div>

            <ul class="drag-inner-list" id="first">
                <li th:attr="data-id=${first.id}" class="drag-item" th:each="first : ${firstLists}">
                    <div class="panel panel-info" align="center">
                        <div class="panel-heading fa-sticky-note-o">
                            <a th:href="@{showClient/{id}(id=${first.id})}" th:text="${first.name}"></a>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="pull-right" th:if="*{first.elapsedDays > 0 }">
                                    <span class="label label-default">Elapsed:</span>&nbsp;
                                    <i th:if="*{first.elapsedDays > 0 && first.elapsedDays < 2}">1Day</i>
                                    <i th:if="*{first.elapsedDays > 1 }" th:text="*{first.elapsedDays + 'Days'}"></i>
                                </div>
                            </div>
                            <p th:text="*{first.companyName}"></p>
                            <span th:if="*{first.priority == 1}" class="label label-success">LOW</span>
                            <span th:if="*{first.priority == 2}" class="label label-warning">MEDIUM</span>
                            <span th:if="*{first.priority == 3}" class="label label-danger">HIGH</span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="drag-column drag-column-in-progress">
      <span class="drag-column-header">
        <h2>Instructions</h2>
        <svg class="drag-header-more" data-target="options2" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/</svg>
      </span>
            <div class="drag-options" id="options2"></div>
            <ul class="drag-inner-list" id="instructions">
                <li th:attr="data-id=${first.id}" class="drag-item" th:each="first : ${instructionsList}">
                    <div class="panel panel-default" align="center">
                    <div class="panel-heading fa-sticky-note-o">
                        <a th:href="@{showClient/{id}(id=${first.id})}" th:text="${first.name}"></a>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="pull-right" th:if="*{first.elapsedDays > 0 }">
                                <span class="label label-default">Elapsed:</span>&nbsp;
                                <i th:if="*{first.elapsedDays > 0 && first.elapsedDays < 2}">1Day</i>
                                <i th:if="*{first.elapsedDays > 1 }" th:text="*{first.elapsedDays + 'Days'}"></i>
                            </div>
                        </div>
                        <p th:text="*{first.companyName}"></p>
                        <span th:if="*{first.priority == 1}" class="label label-success">LOW</span>
                        <span th:if="*{first.priority == 2}" class="label label-warning">MEDIUM</span>
                        <span th:if="*{first.priority == 3}" class="label label-danger">HIGH</span>
                    </div>
                </div></li>
            </ul>
        </li>
        <li class="drag-column drag-column-needs-review">
      <span class="drag-column-header">
        <h2>Drafting</h2>
        <svg data-target="options3" class="drag-header-more" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/</svg>
      </span>
            <div class="drag-options" id="options3"></div>
            <ul class="drag-inner-list" id="drafting">
                <li th:attr="data-id=${first.id}" class="drag-item" th:each="first : ${draftingList}">
                    <div class="panel panel-warning" align="center">
                        <div class="panel-heading fa-sticky-note-o">
                            <a th:href="@{showClient/{id}(id=${first.id})}" th:text="${first.name}"></a>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="pull-right" th:if="*{first.elapsedDays > 0 }">
                                    <span class="label label-default">Elapsed:</span>&nbsp;
                                    <i th:if="*{first.elapsedDays > 0 && first.elapsedDays < 2}">1Day</i>
                                    <i th:if="*{first.elapsedDays > 1 }" th:text="*{first.elapsedDays + 'Days'}"></i>
                                </div>
                            </div>
                            <p th:text="*{first.companyName}"></p>
                            <span th:if="*{first.priority == 1}" class="label label-success">LOW</span>
                            <span th:if="*{first.priority == 2}" class="label label-warning">MEDIUM</span>
                            <span th:if="*{first.priority == 3}" class="label label-danger">HIGH</span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="drag-column drag-column-approved">
      <span class="drag-column-header">
        <h2>Signing</h2>
        <svg data-target="options4" class="drag-header-more" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/</svg>
      </span>
            <div class="drag-options" id="options4"></div>
            <ul class="drag-inner-list" id="signing">
                <li th:attr="data-id=${first.id}" class="drag-item" th:each="first : ${signingList}">
                    <div class="panel panel-default" align="center">
                        <div class="panel-heading fa-sticky-note-o">
                            <a th:href="@{showClient/{id}(id=${first.id})}" th:text="${first.name}"></a>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="pull-right" th:if="*{first.elapsedDays > 0 }">
                                    <span class="label label-default">Elapsed:</span>&nbsp;
                                    <i th:if="*{first.elapsedDays > 0 && first.elapsedDays < 2}">1Day</i>
                                    <i th:if="*{first.elapsedDays > 1 }" th:text="*{first.elapsedDays + 'Days'}"></i>
                                </div>
                            </div>
                            <p th:text="*{first.companyName}"></p>
                            <span th:if="*{first.priority == 1}" class="label label-success">LOW</span>
                            <span th:if="*{first.priority == 2}" class="label label-warning">MEDIUM</span>
                            <span th:if="*{first.priority == 3}" class="label label-danger">HIGH</span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>


        <!--=============================-->

        <li class="drag-column drag-column-checking">
      <span class="drag-column-header">
        <h2>Checking</h2>
        <svg data-target="options5" class="drag-header-more" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/</svg>
      </span>
            <div class="drag-options" id="options5"></div>
            <ul class="drag-inner-list" id="checking">
                <li th:attr="data-id=${first.id}" class="drag-item" th:each="first : ${checkingList}">
                    <div class="panel panel-success" align="center">
                        <div class="panel-heading fa-sticky-note-o">
                            <a th:href="@{showClient/{id}(id=${first.id})}" th:text="${first.name}"></a>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="pull-right" th:if="*{first.elapsedDays > 0 }">
                                    <span class="label label-default">Elapsed:</span>&nbsp;
                                    <i th:if="*{first.elapsedDays > 0 && first.elapsedDays < 2}">1Day</i>
                                    <i th:if="*{first.elapsedDays > 1 }" th:text="*{first.elapsedDays + 'Days'}"></i>
                                </div>
                            </div>
                            <p th:text="*{first.companyName}"></p>
                            <span th:if="*{first.priority == 1}" class="label label-success">LOW</span>
                            <span th:if="*{first.priority == 2}" class="label label-warning">MEDIUM</span>
                            <span th:if="*{first.priority == 3}" class="label label-danger">HIGH</span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>

        <li class="drag-column drag-column-stored">
      <span class="drag-column-header">
        <h2>Stored</h2>
        <svg data-target="options6" class="drag-header-more" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/</svg>
      </span>
            <div class="drag-options" id="options6"></div>
            <ul class="drag-inner-list" id="stored">
                <li th:attr="data-id=${first.id}" class="drag-item" th:each="first : ${storedList}">
                    <div class="panel panel-default" align="center">
                        <div class="panel-heading fa-sticky-note-o">
                            <a th:href="@{showClient/{id}(id=${first.id})}" th:text="${first.name}"></a>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="pull-right" th:if="*{first.elapsedDays > 0 }">
                                    <span class="label label-default">Elapsed:</span>&nbsp;
                                    <i th:if="*{first.elapsedDays > 0 && first.elapsedDays < 2}">1Day</i>
                                    <i th:if="*{first.elapsedDays > 1 }" th:text="*{first.elapsedDays + 'Days'}"></i>
                                </div>
                            </div>
                            <p th:text="*{first.companyName}"></p>
                            <span th:if="*{first.priority == 1}" class="label label-success">LOW</span>
                            <span th:if="*{first.priority == 2}" class="label label-warning">MEDIUM</span>
                            <span th:if="*{first.priority == 3}" class="label label-danger">HIGH</span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>

        <li class="drag-column drag-column-archived">
      <span class="drag-column-header">
        <h2>Archived</h2>
        <svg data-target="options7" class="drag-header-more" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/</svg>
      </span>
            <div class="drag-options" id="options7"></div>
            <ul class="drag-inner-list" id="archived">
                <li th:attr="data-id=${first.id}" class="drag-item" th:each="first : ${archivedList}">
                    <div class="panel panel-danger" align="center">
                        <div class="panel-heading fa-sticky-note-o">
                            <a th:href="@{showClient/{id}(id=${first.id})}" th:text="${first.name}"></a>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="pull-right" th:if="*{first.elapsedDays > 0 }">
                                    <span class="label label-default">Elapsed:</span>&nbsp;
                                    <i th:if="*{first.elapsedDays > 0 && first.elapsedDays < 2}">1Day</i>
                                    <i th:if="*{first.elapsedDays > 1 }" th:text="*{first.elapsedDays + 'Days'}"></i>
                                </div>
                            </div>
                            <p th:text="*{first.companyName}"></p>
                            <span th:if="*{first.priority == 1}" class="label label-success">LOW</span>
                            <span th:if="*{first.priority == 2}" class="label label-warning">MEDIUM</span>
                            <span th:if="*{first.priority == 3}" class="label label-danger">HIGH</span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="phenom-list">
        <div class="phenom" th:each="recent : ${recentActivities}">
            <div class="phenom-creator">
                <div><img height="30" width="30" th:src="*{recent.src}">
                </div>
            </div>

            <div class="phenom-desc">
                <span><b th:text="*{recent.author}"></b></span>
                <span th:if="*{recent.type == 'addComment' || recent.type == 'editedComment'}">on</span>
                <span th:if="*{recent.type == 'moved'}">moved</span>
                <span th:if="*{recent.type == 'addedClient'}">created</span>
                <span th:if="*{recent.type == 'editedClient'}">edited</span>
               <b th:text="*{recent.status}">Status</b>
                <span th:unless="*{recent.moveFrom == null}">
                    from <b th:text="*{recent.moveFrom}"></b> to <b th:text="*{recent.moveTo}"></b>
                </span><br>
                <span th:text="${#dates.format(recent.updatedAt, 'dd MMM')}">Time</span> at <span th:text="${#dates.format(recent.updatedAt, 'HH:mm')}">Time</span><p th:if="*{recent.type == 'editedComment'}">(edited)</p>
                <div>
                    <div class="action-comment" dir="auto">
                            <p th:unless="*{recent.onMessage == null}" style="white-space: pre-wrap;" th:text="*{recent.onMessage}"> </p>
                    </div>
                </div>
            </div>

            <div class="phenom-meta quiet"><span class="js-spinner hide"><span
                    class="spinner spinner--inline mod-left small"></span> Sending…&nbsp;</span>
            </div>
        </div>

        <!--<div class="phenom mod-comment-type">
            <div class="phenom-creator">
                <div class="member js-show-mem-menu" idmember="5ffd7a105fe8282808ab6101"><img
                        class="member-avatar" height="30" width="30"
                        src="https://trello-members.s3.amazonaws.com/5ffd7a105fe8282808ab6101/add310d81c8807d3d2fdd4150efb940a/30.png"
                        srcset="https://trello-members.s3.amazonaws.com/5ffd7a105fe8282808ab6101/add310d81c8807d3d2fdd4150efb940a/30.png 1x, https://trello-members.s3.amazonaws.com/5ffd7a105fe8282808ab6101/add310d81c8807d3d2fdd4150efb940a/50.png 2x"
                        alt="Dean Steele (dean_steele)" title="Dean Steele (dean_steele)"><span
                        class="member-gold-badge" title="This member has Trello Gold."></span></div>
            </div>
            <div class="phenom-desc"><span class="inline-member js-show-mem-menu"
                                           idmember="5ffd7a105fe8282808ab6101"><span
                    class="u-font-weight-bold">Dean Steele</span></span> on <a class="action-card"
                                                                               href="https://trello.com/c/ba2LeUWx">Website
                Content</a> <span class="inline-spacer"> </span><span class="phenom-date quiet"><a
                    class="date js-hide-on-sending js-highlight-link past"
                    dt="2021-01-16T21:58:16.850Z"
                    href="/c/ba2LeUWx/3-website-content#comment-600361788972f8418a1c4c8b"
                    title="16 January 2021 21:58">16 Jan at 21:58</a></span>
                <div class="comment-container">
                    <div class="action-comment markeddown js-comment" dir="auto">
                        <div class="current-comment js-friendly-links js-open-card"><p>Not totally
                            sure mine is the 'style' we are going for, if we need more formal - I'll
                            tart it up.</p>
                            <p>I'll try and get one out on 'sustainable business' as a lifestyle by
                                Monday morning too as I think it also helps us with our brand
                                identity a little internally. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="phenom-meta quiet"><span class="js-spinner hide"><span
                    class="spinner spinner&#45;&#45;inline mod-left small"></span> Sending…&nbsp;</span>
            </div>

        </div>-->

    </div>
</div>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/dragula.min.js"></script>
<script src="scripts/active_client.js"></script>
</body>
</html>