<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Steele Rose CRM Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/navigation.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript">
        $(document).ready(function () {
            $('#data-table').DataTable({'order': [0, 'desc']});
            $('#data-table-inactive').DataTable({'order': [0, 'desc']});
        });
    </script>
</head>

<body>
<div th:replace="fragm :: menu">Static Menu</div>
<div class="container" style="width: 1300px">
    <p class="pull-right">
        Welcome <b><span sec:authentication="principal.username">User</span></b>
    </p>
</div>
<div class="container" style="width: 1300px">
    <div class="card-header">
        <strong class="card-title">
            <h1 style="text-align: center; color: #1BA39C; font-weight: bold;">Company Lists</h1>
        </strong>
    </div>
    <div>

        <ul class="nav nav-tabs">
            <li class="active"><a style="padding: 10px 100px;" href="#1" data-toggle="tab">ACTIVE</a></li>
            <li><a style="padding: 10px 100px;" href="#2" data-toggle="tab">INACTIVE</a></li>
        </ul>

        <div class="tab-content" style="margin-top: 30px">
            <div class="tab-pane active" id="1">

                <table id="data-table" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Company Name</th>
                        <th>Contact Person</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="company:${companyListActive}">
                        <td th:text="${#dates.format(company.createdAt, 'yyyy-MM-dd')}"></td>
                        <td><a th:href="@{showCompany/{id}(id=${company.id})}" th:text="${company.name}"></a></td>
                        <td th:text="${company.contact}"></td>
                        <td th:text="${company.telephone}"></td>
                        <td th:text="${company.email}"></td>
                        <td>
                            <a th:href="@{/clientAdd/{id}(id=${company.id})}" class="btn btn-success">Add Client</a>
                            <a th:href="@{/companyEdit/{id}(id=${company.id})}" class="btn btn-primary">Edit</a>
                            <span sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/companyDelete/{id}(id=${company.id})}" class="btn btn-danger">Delete</a>
                        </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-2"> &nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div class="col-md-2"><a href="/showWillsPage" class="btn btn-info center-block"> Dashboard </a></div>
                    <div class="col-md-2"><a th:href="@{/companyAdd}" class="btn btn-success center-block"> Add Active Company </a>
                    </div>
                </div>
            </div>


            <div class="tab-pane" id="2">

                <table id="data-table-inactive" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Company Name</th>
                        <th>Contact Person</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="company:${companyListInactive}">
                        <td th:text="${#dates.format(company.createdAt, 'yyyy-MM-dd')}"></td>
                        <td><a th:href="@{showCompany/{id}(id=${company.id})}" th:text="${company.name}"></a></td>
                        <td th:text="${company.contact}"></td>
                        <td th:text="${company.telephone}"></td>
                        <td th:text="${company.email}"></td>
                        <td>
                            <a th:href="@{/clientAdd/{id}(id=${company.id})}" class="btn btn-success">Add Client</a>
                            <a th:href="@{/companyEdit/{id}(id=${company.id})}" class="btn btn-primary">Edit</a>
                            <span sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/companyDelete/{id}(id=${company.id})}" class="btn btn-danger">Delete</a>
                        </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-2"> &nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div class="col-md-2"><a href="/showWillsPage" class="btn btn-info center-block"> Dashboard </a></div>
                    <div class="col-md-2"><a th:href="@{/companyAddInactive}" class="btn btn-success center-block"> Add Inactive Company </a>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>
</body>
</html>