<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Client Management System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

    <style type="text/css">
        .page-header-menu {
            background: #444d58;
            margin-top: 10px;
        }

        .page-header {
            margin-top: 2px;
        }
    </style>
</head>

<body>
<div th:include="fragments/topmenuheader :: header"></div>

<div class="container">

    <p class="pull-right">
        Welcome: <span sec:authentication="principal.username">User</span>
    </p>
</div>
<div class="container">
    <h2> Do you want to send this information? </h2><br><br>

    <form action="#" th:action="@{/sendEmailClient}" th:object="${email_client}" method="POST" style="width: 400px;">
        <label> Email To: &nbsp; </label><span th:if="${#fields.hasErrors('to')}" th:errors="*{to}"
                                               class="text-danger">To Error</span>
        <input type="text" th:field="*{to}" placeholder="Email To" class="form-control mb-4 col-4">
        <br>
        <label> Subject: &nbsp; </label>
        <input type="text" th:field="*{subject}" placeholder="Subject (optional)" class="form-control mb-4 col-4">
        <br>
        <label> Message: &nbsp; </label>
        <textarea rows="10" cols="80" th:field="*{text}" placeholder="Message (Optional)"
                  class="form-control mb-4 col-4"></textarea>
        <br>

        <button type="submit" class="btn btn-info col-2"> Send Email</button>
    </form>
    <hr>
    <h4><a th:href="@{/legacyClient}"> Back to Legacy Client</a></h4>
</div>
</body>

</html>