<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
    <meta charset="utf-8"/>
    <title>Steele Rose CRM</title>
    <link rel="stylesheet" type="text/css" href="css/navigation.css">

    <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-inverse">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a th:href="@{/}">
            <img th:src="@{/images/steeleroselogo.png}" alt="logo" style="margin-top:4px; margin-left: 5px;"/>
        </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li>
                <a class="nav-links" th:href="@{/home}">Home</a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_WILLS')">
                <a class="nav-links" th:href="@{/showWillsPage}">Dashboard</a>
            </li>
            <li>
                <a class="nav-links" th:href="@{/callList}">Enquiry</a>
            </li>
            <li>
                <a class="nav-links" th:href="@{/legacyClient}">Legacy Client</a>
            </li>
            <li>
                <a class="nav-links" th:href="@{/showArchive}">Archive</a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li sec:authorize="isAuthenticated()"><a class="nav-links" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>
        </ul>
        </div>
    </nav>
</div>
<div th:fragment="footer" class="text-center">
    <hr/>
    <p>CRM Admin Control Panel - Copyright &copy;Steele Rose</p>
</div>
</body>
</html>