<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
    <meta charset="utf-8"/>
    <title>Steele Rose CRM</title>
    <link rel="stylesheet" type="text/css" href="css/navigation.css">

    <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        let mainNav = document.getElementById("js-menu");
        let navBarToggle = document.getElementById("js-navbar-toggle");

        navBarToggle.addEventListener("click", function () {
            mainNav.classList.toggle("active");
        });
    </script>
</head>
<body>
<div th:fragment="menu">
    <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a th:href="@{/}">
            <img th:src="@{/images/steeleroselogo.png}" alt="logo" style="margin-top:4px; margin-left: 5px;"/>
        </a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a class="nav-links fas fa-home fa-2x icon-silver" th:href="@{/}"></a>
            </li>
            <li>
                <a class="nav-links" th:href="@{/home}">Home</a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_WILLS')">
                <a class="nav-links" th:href="@{/showWillsPage}">Dashboard</a>
            </li>
            <li>
                <a class="nav-links" th:href="@{/callList}">Enquiry</a>
            </li>
            <li>
                <a class="nav-links" th:href="@{/legacyClient}">Legacy Client</a>
            </li>
            <li>
                <a class="nav-links" th:href="@{/showArchive}">Archive</a>
            </li>
        </ul>
        <ul class="main-nav navbar-right">
            <li sec:authorize="isAuthenticated()"><a class="nav-links" th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
</div>
<div th:fragment="footer" class="text-center">
    <hr/>
    <p>CRM Admin Control Panel - Copyright &copy;Steele Rose</p>
</div>
</body>
</html>