<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Steele Rose CRM Management</title>

    <meta content="This shows CRM Steele Rose" name="description"/>
    <object th:include="fragments/head :: head" th:remove="tag"></object>

    <link th:href="@{/assets/pages/css/profile.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sowpage.css}">
</head>

<body>
<div th:include="fragments/topmenuheader :: header"></div>
<div class="container">
    <form th:object="${show_client}" th:action="@{/show_client_save}" action="#" method="post">
        <input type="hidden" class="form-control" th:field="*{id}"/>
        <input type="hidden" class="form-control" th:field="*{name}"/>
        <input type="hidden" class="form-control" th:field="*{phone}"/>
        <input type="hidden" class="form-control" th:field="*{contact}"/>
        <input type="hidden" class="form-control" th:field="*{email}"/>
        <input type="hidden" class="form-control" th:field="*{address}"/>

        <input type="hidden" class="form-control" th:field="*{company}"/>
        <input type="hidden" class="form-control" th:field="*{createdAt}"/>
        <input type="hidden" class="form-control" th:field="*{updatedAt}"/>

        <div class="row" style="padding-top: 15px;">
            <div class="col-md-10">

                <div class="panel panel-default">
                    <div class="panel-heading"><h3 style="align-content: center">Client Info</h3></div>
                </div>

                <div class="panel-body" style="padding-left: 1px;">
                    <div class="col-md-4">
                        Date: <b th:text="${#dates.format(show_client.createdAt, 'dd-MM-yyyy')}"/> <br/><br>
                        Name: <b th:text="*{name}"/> <br/>
                        Contact Person: <b th:text="*{contact}"/> <br/>
                    </div>
                    <div class="col-md-4"><br/><br/>
                        Telephone: <b th:text="${show_client.phone}"/> <br/>
                        Email: <span th:text="${show_client.email}"/><br/>
                    </div>
                    <div class="col-md-4">
                        <br/><br/>
                        <select class="form-control" th:field="*{status}">
                            <option th:each="status : ${statusList}"
                                    th:value="${status.status}"
                                    th:text="${status.status}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 25px;">
            <div class="col-md-4">
                    Priority: &nbsp;&nbsp;
                    <label><input type="radio" name="choice-radio" value="1" th:field="*{priority}">Low</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" name="choice-radio" value="2" th:field="*{priority}">Medium</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" name="choice-radio" value="3" th:field="*{priority}">High</label>
            </div>
            <div class="col-md-8">
                <a sec:authorize="hasAuthority('ROLE_WILLS')" th:href="@{/activeClient}" class="btn btn-warning">Active Client</a>
                <a sec:authorize="hasAuthority('ROLE_WILLS')" href="/showWillsPage" class="btn btn-info">Dashboard</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{/editClient/{id}(id=${show_client.id})}" class="btn btn-primary">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" id="cleared" th:field="*{cleared}"
                       th:checked="*{cleared}"> &nbsp;&nbsp; EXEC &nbsp;&nbsp;&nbsp;&nbsp;

                <input type="checkbox" id="deceased" th:field="*{deceased}"
                       th:checked="*{cleared}"> &nbsp;&nbsp; DECEASED &nbsp;&nbsp;&nbsp;&nbsp;

                <input type="submit" class="btn btn-success" value="UPDATE">
            </div>
        </div>
    </form>

</div>


<div id="exTab2" class="container">
    <ul class="nav nav-tabs">
        <li>
            <a href="#1" data-toggle="tab">FINANCIAL</a>
        </li>
        <li class="active"><a href="#2" data-toggle="tab">COMMENTS</a>
        </li>
        <li><a href="#3" data-toggle="tab"> File Upload </a>
        </li>
    </ul>

    <div class="tab-content ">
        <div class="tab-pane" id="1">
            <div sec:authorize="hasAuthority('ROLE_WILLS')" class="row" style="padding-top: 60px;">
                <div class="col-md-12">
                    <div style="background: #e1e5ec;">
                        <h3>PERSONAL ASSETS</h3>
                    </div>
                    <div class="col-md-9">
                        <p>You will probably want your Estate to pass to your immediate family. Whatever your decision, before distributing your Estate you
                            should establish its nature and value by completing this section</p>
                    </div>
                    <div class="col-md-9"> <h4>HOME DETAILS</h4></div>

                    <form th:object="${personalAsset}" th:action="@{/personal_asset_save}" action="#" method="post">
                        <input type="hidden" class="form-control" th:field="*{id}"/>
                        <input type="hidden" class="form-control" th:field="*{clientId}"/>
                        <div class="col-md-5">
                            Do you own your property?&nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="1" th:field="*{propertyOne}">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="2" th:field="*{propertyOne}">No</label>
                        </div>
                        <div class="col-md-5">
                            Do you have a mortgage?&nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="1" th:field="*{mortgageOne}">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="2" th:field="*{mortgageOne}">No</label>
                        </div><br>

                        <div class="col-md-10">
                            In whose name is the property registered? &nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="1" th:field="*{propertyRegisteredOne}">Client 1</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="2" th:field="*{propertyRegisteredOne}">Client 2</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="3" th:field="*{propertyRegisteredOne}">Joint</label>
                            <!--Client 1<input type="checkbox"> &nbsp;&nbsp; 2 <input type="checkbox"> &nbsp;&nbsp; Joint <input type="checkbox">-->
                        </div><br>
                        <div class="col-md-10">
                            If joint (co-owners) do you own your property as:&nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="1" th:field="*{ifJointOne}">Joint Tenants</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="2" th:field="*{ifJointOne}">Tenants in Common</label>
                            <!--<input type="checkbox"> Joint Tenants &nbsp; <input type="checkbox"> Tenants in Common-->
                        </div><br>
                        <div class="col-md-10">
                            Lender Details: &nbsp;&nbsp;<input type="text" th:value="*{lenderDetails}"  th:field="*{lenderDetails}">
                        </div><br>

                        <div class="col-md-5" style="margin-top: 10px;">
                            Amount outstanding? £ <input type="text" th:value="*{amountOSOne}"  th:field="*{amountOSOne}">
                        </div>
                        <div class="col-md-5" style="margin-top: 10px;">
                            Current Value? £ <input type="text" th:value="*{currentValueOne}"  th:field="*{currentValueOne}">
                        </div><br>

                        <div class="col-md-10" style="margin-top: 10px;">
                            Where are the deeds to the property held? <input type="text" th:value="*{propertyHeldOne}"  th:field="*{propertyHeldOne}">
                        </div><br>
                        <div class="col-md-10" style="margin-top: 10px;">
                            Financial arrangements for the purchase (how did each spouse/partner contribute? <textarea th:value="*{contributeOne}" th:field="*{contributeOne}"></textarea>
                        </div><br>

                        <div class="col-md-10" style="margin-top: 10px;">
                            <strong>OTHER PROPERTY</strong>
                         <b>  (including property abroad) Address</b>&nbsp;&nbsp; <input type="text" th:value="*{otherProperty}"  th:field="*{otherProperty}"> </div><br>

                        <div class="col-md-5">
                            Do you have a mortgage?&nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="1" th:field="*{mortgageTwo}">Yes</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="2" th:field="*{mortgageTwo}">No</label>
                           <!-- <input type="checkbox"> YES &nbsp; <input type="checkbox"> NO-->
                        </div><br>

                        <div class="col-md-10">
                            In whose name is the property registered? &nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="1" th:field="*{propertyRegisteredTwo}">Client 1</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="2" th:field="*{propertyRegisteredTwo}">Client 2</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="3" th:field="*{propertyRegisteredTwo}">Joint</label>
                            <!--Client 1<input type="checkbox"> &nbsp;&nbsp; 2 <input type="checkbox"> &nbsp;&nbsp; Joint <input type="checkbox">-->
                        </div><br>
                        <div class="col-md-10">
                            If joint (co-owners) do you own your property as:&nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="1" th:field="*{ifJointTwo}">Joint Tenants</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="choice-radio" value="2" th:field="*{ifJointTwo}">Tenants in Common</label>
                            <!--<input type="checkbox"> Joint Tenants &nbsp; <input type="checkbox"> Tenants in Common-->
                        </div><br>
                        <div class="col-md-5" style="margin-top: 10px;">
                            Amount outstanding? £ <input type="text" th:value="*{amountOSTwo}"  th:field="*{amountOSTwo}">
                        </div>
                        <div class="col-md-5" style="margin-top: 10px;">
                            Current Value? £ <input type="text" th:value="*{currentValueTwo}"  th:field="*{currentValueTwo}">
                        </div><br>

                        <div class="col-md-10" style="margin-top: 10px;">
                            Where are the deeds to the property held? <input type="text" th:value="*{propertyHeldTwo}"  th:field="*{propertyHeldTwo}">
                        </div><br>
                        <div class="col-md-10" style="margin-top: 10px;">
                            Financial arrangements for the purchase (how did each spouse/partner contribute? <input type="text" th:value="*{contributeTwo}"  th:field="*{contributeTwo}">
                        </div>
                        <div class="portlet-body" style="margin-top: 20px;">
                            <table id="mytable1" class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Details</th>
                                    <th>Client 1</th>
                                    <th>Client 2</th>
                                    <th>Joint</th>
                                </tr>
                                </thead>

                                <tr class="active">
                                    <th scope="row">Bank Accounts</th>
                                    <th><input type="text" th:value="*{baDetails}"  th:field="*{baDetails}"></th>
                                    <th><input type="text" th:value="*{baClient1}"  th:field="*{baClient1}"></th>
                                    <th><input type="text" th:value="*{baClient2}"  th:field="*{baClient2}"></th>
                                    <th><input type="text" th:value="*{baJoint}"  th:field="*{baJoint}"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Stocks & Shares</th>
                                    <th><input type="text" th:value="*{ssDetails}"  th:field="*{ssDetails}"></th>
                                    <th><input type="text" th:value="*{ssClient1}"  th:field="*{ssClient1}"></th>
                                    <th><input type="text" th:value="*{ssClient2}"  th:field="*{ssClient2}"></th>
                                    <th><input type="text" th:value="*{ssJoint}"  th:field="*{ssJoint}"></th>
                                </tr>
                                <tr class="success">
                                    <th scope="row">Interest in a Trust</th>
                                    <th><input type="text" th:value="*{itDetails}"  th:field="*{itDetails}"></th>
                                    <th><input type="text" th:value="*{itClient1}"  th:field="*{itClient1}"></th>
                                    <th><input type="text" th:value="*{itClient2}"  th:field="*{itClient2}"></th>
                                    <th><input type="text" th:value="*{itJoint}"  th:field="*{itJoint}"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Building Society Acc.</th>
                                    <th><input type="text" th:value="*{bsaDetails}"  th:field="*{bsaDetails}"></th>
                                    <th><input type="text" th:value="*{bsaClient1}"  th:field="*{bsaClient1}"></th>
                                    <th><input type="text" th:value="*{bsaClient2}"  th:field="*{bsaClient2}"></th>
                                    <th><input type="text" th:value="*{bsaJoint}"  th:field="*{bsaJoint}"></th>
                                </tr>
                                <tr class="info">
                                    <th scope="row">Nat. Savings/ P Bonds</th>
                                    <th><input type="text" th:value="*{nspbDetails}"  th:field="*{nspbDetails}"></th>
                                    <th><input type="text" th:value="*{nspbClient1}"  th:field="*{nspbClient1}"></th>
                                    <th><input type="text" th:value="*{nspbClient2}"  th:field="*{nspbClient2}"></th>
                                    <th><input type="text" th:value="*{nspbJoint}"  th:field="*{nspbJoint}"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Cash</th>
                                    <th><input type="text" th:value="*{cashDetails}"  th:field="*{cashDetails}"></th>
                                    <th><input type="text" th:value="*{cashClient1}"  th:field="*{cashClient1}"></th>
                                    <th><input type="text" th:value="*{cashClient2}"  th:field="*{cashClient2}"></th>
                                    <th><input type="text" th:value="*{cashJoint}"  th:field="*{cashJoint}"></th>
                                </tr>
                                <tr class="warning">
                                    <th scope="row">Car/ Vehicles</th>
                                    <th><input type="text" th:value="*{cvDetails}"  th:field="*{cvDetails}"></th>
                                    <th><input type="text" th:value="*{cvClient1}"  th:field="*{cvClient1}"></th>
                                    <th><input type="text" th:value="*{cvClient2}"  th:field="*{cvClient2}"></th>
                                    <th><input type="text" th:value="*{cvJoint}"  th:field="*{cvJoint}"></th>
                                </tr>

                                <tr>
                                    <th scope="row">Furniture/ Personal</th>
                                    <th><input type="text" th:value="*{fpDetails}"  th:field="*{fpDetails}"></th>
                                    <th><input type="text" th:value="*{fpClient1}"  th:field="*{fpClient1}"></th>
                                    <th><input type="text" th:value="*{fpClient2}"  th:field="*{fpClient2}"></th>
                                    <th><input type="text" th:value="*{fpJoint}"  th:field="*{fpJoint}"></th>
                                </tr>
                                <tr class="danger">
                                    <th scope="row">Other</th>
                                    <th><input type="text" th:value="*{otherDetails}"  th:field="*{otherDetails}"></th>
                                    <th><input type="text" th:value="*{otherClient1}"  th:field="*{otherClient1}"></th>
                                    <th><input type="text" th:value="*{otherClient2}"  th:field="*{otherClient2}"></th>
                                    <th><input type="text" th:value="*{otherJoint}"  th:field="*{otherJoint}"></th>
                                </tr>
                                <tr>
                                    <th scope="row"><b>TOTAL:</b></th>
                                    <th><input type="text" th:value="*{totalDetails}"  th:field="*{totalDetails}"></th>
                                    <th><input type="text" th:value="*{totalClient1}"  th:field="*{totalClient1}"></th>
                                    <th><input type="text" th:value="*{totalClient2}"  th:field="*{totalClient2}"></th>
                                    <th><input type="text" th:value="*{totalJoint}"  th:field="*{totalJoint}"></th>
                                </tr>
                                <tr class="success">
                                    <td scope="row" colspan="2">LIFE ASSURANCE (in trust/ nominated/ Pilot Trust?)</td>
                                    <th><input type="text" th:value="*{lifeAssClient1}"  th:field="*{lifeAssClient1}"></th>
                                    <th><input type="text" th:value="*{lifeAssClient2}"  th:field="*{lifeAssClient2}"></th>
                                    <th><input type="text" th:value="*{lifeAssJoint}"  th:field="*{lifeAssJoint}"></th>
                                </tr>
                                <tr>
                                    <td colspan="4">When did you last review your pension or other financial arrangements? Would you like Steele Rose & Co Ltd to arrange for
                                        a Financial Adviser to call you? No cost is involved and a financial review could well save you money, improve your investment
                                        income or increase your pension income.
                                        (If YES Consultant please submit referral form) </td>
                                    <td><label><input type="radio" name="choice-radio" value="1" th:field="*{referralYes}">Yes</label>&nbsp;
                                        <label><input type="radio" name="choice-radio" value="2" th:field="*{referralYes}">No</label></td>
                                </tr>
                                <tr>
                                    <th colspan="5">DEATH IN SERVICE BENEFIT (SEE PILOT TRUSTS PAGE 6) AND ANY OTHER FINANCIAL DETAILS?</th>
                                </tr>
                                <tr>
                                    <td colspan="5"><textarea th:value="*{financialDetails}"  th:field="*{financialDetails}"></textarea></td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-12">
                            TOTAL ESTATE VALUE (LESS LIABILITIES, MORTGAGES, OVERDRAFTS, CREDIT CARDS ETC) £
                        <input type="text" th:value="*{estateValue}"  th:field="*{estateValue}"></div> <br>
                        <div class="col-md-10">
                            APPROXIMATE INHERITANCE TAX TO PAY £ <input type="text" th:value="*{taxToPay}"  th:field="*{taxToPay}">
                        </div><br>
                        <div class="col-md-5">
                            <input type="submit" class="btn btn-success" value="SAVE">
                        </div>

                    </form>

                </div>
            </div>
        </div>

        <div class="tab-pane active" id="2">
            <div class="row" style="padding-top: 30px;">
                <form th:action="@{/submit_message}" method="post" style="margin: 0 auto;">
                    <div class="col-md-8">
                        <input type="hidden" class="form-control" name="id" th:field="*{show_client.id}"/>
                        <textarea class="form-control" name="message" id="message-text"
                                  placeholder="Write your comments..." maxlength="1900" rows="4"
                                  required autofocus></textarea>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Send" class="btn btn-default"/>
                    </div>
                </form>
            </div>

            <div class="row" style="padding-top: 50px;">
                <div class="col-md-10">

                    <table class="table table-bordered table-striped">
                        <tbody>
                        <tr th:each="task : ${linkedComments}">
                            <li class="comment">
                                <div class="comment-wrap">
                                    <div class="comment-author-wrap">
                                        <div class="comment-author">
                                            <label class="col-form-label">Author:</label>
                                            <strong th:text="${task.author}"> author </strong>
                                        </div>
                                        <label class="col-form-label">Date:</label>
                                        <strong th:text="${#dates.format(task.createdAt, 'dd-MM-yyyy HH:mm')}">
                                            Date </strong>
                                    </div>
                                    <div class="comment-content">
                                        <span style="white-space: pre-wrap;" th:text="${task.message}"> message </span>
                                    </div>
                                    <div class="comment-actions">
                                        <div class="reply">
                                            <div class="btn-group align-top">
                                                <button class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal" data-target="#editUserModal" th:comment-message="${task.message}" th:client-id="${show_client.id}"
                                                        th:comment-id="${task.id}" onclick="editModalContent(this, this.getAttribute('client-id'), this.getAttribute('comment-id'), this.getAttribute('comment-message'));"><i class="fa fa-edit"></i></button>

                                                <button sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-outline-secondary badge" type="button" data-toggle="modal" data-target="#deleteModal" th:comment-id="${task.id}" th:client-id="${show_client.id}" onclick="deleteModalContent(this, this.getAttribute('client-id'), this.getAttribute('comment-id'));"> &nbsp;&nbsp; <i class="fa fa-remove"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <span class="label label-warning" th:unless="*{task.editedAuthor == null}">Edited History:</span>
                                        <span th:unless="*{task.editedAuthor == null}" th:text="*{task.editedAuthor}"></span>

                            </li>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

        <div class="tab-pane" id="3">

            <div class="row">
                <div class="col-md-8 mx-auto">
                   <h2>Please upload document here.</h2>
                  <!--  <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>-->

                    <form method="post" enctype="multipart/form-data" th:action="@{/upload/{clientId}(clientId=${show_client.id})}" action="#">
                        <div class="form-group">
                            <div class="custom-file">

                                <input type="file" class="custom-file-input" id="customFile" name="file" required autofocus>
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit"> Upload File </button>
                    </form>

                </div>
            </div>

            <div class="row">
                <table>
                    <tbody>
                    <tr class="comment-wrap-tr" th:each="s3file : ${s3FileNames}">
                        <td th:text="${s3file.fileName}"/> <td> &nbsp; </td>
                        <td><a th:href="@{/downloadFile/{fileName}(fileName=${s3file.fileName})}"> Download </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<hr/>

<!-- Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Edit Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/editComment}" method="post">
                <div class="modal-body">
                    <div>
                        <input type="hidden" class="form-control" id="commentId" name="comId"/>
                        <input type="hidden" class="form-control" id="clientId" name="cId"/>
                        <textarea id="commentMessage" class="form-control" rows="5" name="comMessage" placeholder="Write your comments..." required autofocus></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save changes">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalTitle">Delete Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/deleteModalComments}" method="post">
                <div class="modal-body">
                    Are you sure you want to delete this message?
                    <input type="hidden" class="form-control" id="cltId" name="clttId"/>
                    <input type="hidden" class="form-control" id="deleteId" name="delId"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit"  class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
   function editModalContent(t, clientId, commentId, message) {
       var modal = $('#editUserModal');
       // change modal content
     //  console.log('clientId:' + clientId + ', commentId:' + commentId + ', message:' + message);
       modal.find('#commentId').val(commentId);
       modal.find('#clientId').val(clientId);
       modal.find('#commentMessage').val(message);
   }

   function deleteModalContent(t, clientId, commentId) {
       var modal = $('#deleteModal');
       // change modal content
    //   console.log('clientId:' + clientId + ', commentId:' + commentId);
       modal.find('#deleteId').val(commentId);
       modal.find('#cltId').val(clientId);
   }
</script>
</body>
</html>