<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Steele Rose CRM Management</title>

    <meta content="This shows CRM Steele Rose" name="description"/>
    <object th:include="fragments/head :: head" th:remove="tag"></object>

    <link th:href="@{/assets/pages/css/profile.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sowpage.css}">
    <style type="text/css">
        #mytable1 input, textarea
        {
            width: 100%;
            padding: 10px;
            margin: 0px;
            border: 1px solid #CCC;
        }

        input[type="range"] {
            width: 30px;
        }
    </style>
</head>

<body>
<div th:include="fragments/topmenuheader :: header"></div>
<div class="container">
    <form th:object="${show_client}" th:action="@{/show_client_save}" action="#" method="post">
        <input type="hidden" class="form-control" th:field="*{id}"/>
        <input type="hidden" class="form-control" th:field="*{name}"/>
        <input type="hidden" class="form-control" th:field="*{phone}"/>
        <input type="hidden" class="form-control" th:field="*{contact}"/>
        <input type="hidden" class="form-control" th:field="*{email}"/>
        <input type="hidden" class="form-control" th:field="*{address}"/>

        <input type="hidden" class="form-control" th:field="*{company}"/>
        <input type="hidden" class="form-control" th:field="*{createdAt}"/>
        <input type="hidden" class="form-control" th:field="*{updatedAt}"/>

        <div class="row" style="padding-top: 15px;">
            <div class="col-md-10">

                <div class="panel panel-default">
                    <div class="panel-heading"><h3 style="align-content: center">Client Info</h3></div>
                </div>

                <div class="panel-body" style="padding-left: 1px;">
                    <div class="col-md-4">
                        Date: <b th:text="${#dates.format(show_client.createdAt, 'dd-MM-yyyy')}"/> <br/><br>
                        Name: <b th:text="*{name}"/> <br/>
                        Contact Person: <b th:text="*{contact}"/> <br/>
                    </div>
                    <div class="col-md-4"><br/><br/>
                        Telephone: <b th:text="${show_client.phone}"/> <br/>
                        Email: <span th:text="${show_client.email}"/><br/>
                    </div>
                    <div class="col-md-4">
                        <br/><br/>
                        <select class="form-control" th:field="*{status}">
                            <option th:each="status : ${statusList}"
                                    th:value="${status.status}"
                                    th:text="${status.status}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 25px;">
            <div class="col-md-4">

            </div>
            <div class="col-md-6">
                <a sec:authorize="hasAuthority('ROLE_WILLS')" href="/showWillsPage" class="btn btn-info">Dashboard</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{/editClient/{id}(id=${show_client.id})}" class="btn btn-primary">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" id="cleared" th:field="*{cleared}"
                       th:checked="*{cleared}"> &nbsp;&nbsp; EXEC &nbsp;&nbsp;&nbsp;&nbsp;

                <input type="checkbox" id="deceased" th:field="*{deceased}"
                       th:checked="*{cleared}"> &nbsp;&nbsp; DECEASED &nbsp;&nbsp;&nbsp;&nbsp;

                <input type="submit" class="btn btn-success" value="UPDATE">
            </div>
        </div>
    </form>

</div>


<div id="exTab2" class="container">
    <ul class="nav nav-tabs">
        <li>
            <a href="#1" data-toggle="tab">FINANCIAL</a>
        </li>
        <li class="active"><a href="#2" data-toggle="tab">COMMENTS</a>
        </li>
        <li><a href="#3" data-toggle="tab"> File Upload </a>
        </li>
    </ul>

    <div class="tab-content ">
        <div class="tab-pane" id="1">
            <div class="row" style="padding-top: 60px;">
                <div class="col-md-10">
                    <div style="background: #e1e5ec;">
                        <h3>PERSONAL ASSETS</h3>
                    </div>
                    <div>
                        <p>You will probably want your Estate to pass to your immediate family. Whatever your decision, before distributing your Estate you
                            should establish its nature and value by completing this section</p>
                    </div>
                    <h4>HOME DETAILS</h4>
                    <form>
                        <div class="col-md-5">
                            Do you own your property? <label>
                            <input type="radio" name="choice-radio">
                            Yes
                        </label>
                            <label>
                                <input type="radio" name="choice-radio">
                                No
                            </label>
                        </div>
                        <div class="col-md-5">
                            Do you have a mortgage? <input type="checkbox"> YES &nbsp; <input type="checkbox"> NO
                        </div><br>

                        <div class="col-md-10">
                            In whose name is the property registered? &nbsp;&nbsp; Client 1<input type="checkbox"> &nbsp;&nbsp; 2 <input type="checkbox"> &nbsp;&nbsp; Joint <input type="checkbox">
                        </div><br>
                        <div class="col-md-10">
                            If joint (co-owners) do you own your property as: <input type="checkbox"> Joint Tenants &nbsp; <input type="checkbox"> Tenants in Common
                        </div><br>
                        <div class="col-md-10">
                            Lender Details: <input type="text">
                        </div><br>

                        <div class="col-md-5">
                            Amount outstanding? £ <input type="text">
                        </div>
                        <div class="col-md-5">
                            Current Value? £ <input type="text">
                        </div><br>

                        <div class="col-md-10">
                            Where are the deeds to the property held? <input type="text">
                        </div><br>
                        <div class="col-md-10">
                            Financial arrangements for the purchase (how did each spouse/partner contribute? <textarea ></textarea>
                        </div><br>

                        <div class="col-md-10">
                            <strong>OTHER PROPERTY</strong>
                         <b>  (including property abroad) Address</b> <input type="text"> </div><br>

                        <div class="col-md-5">
                            Do you have a mortgage? <input type="checkbox"> YES &nbsp; <input type="checkbox"> NO
                        </div><br>

                        <div class="col-md-10">
                            In whose name is the property registered? &nbsp;&nbsp; Client 1<input type="checkbox"> &nbsp;&nbsp; 2 <input type="checkbox"> &nbsp;&nbsp; Joint <input type="checkbox">
                        </div><br>
                        <div class="col-md-10">
                            If joint (co-owners) do you own your property as: <input type="checkbox"> Joint Tenants &nbsp; <input type="checkbox"> Tenants in Common
                        </div><br>
                        <div class="col-md-5">
                            Amount outstanding? £ <input type="text">
                        </div>
                        <div class="col-md-5">
                            Current Value? £ <input type="text">
                        </div><br>

                        <div class="col-md-10">
                            Where are the deeds to the property held? <input type="text">
                        </div><br>
                        <div class="col-md-10">
                            Financial arrangements for the purchase (how did each spouse/partner contribute? <input type="text">
                        </div><br>
                        <div class="portlet-body">
                            <table id="mytable1" class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Details</th>
                                    <th>Client 1</th>
                                    <th>Client 2</th>
                                    <th>Joint</th>
                                </tr>
                                </thead>

                                <tr class="active">
                                    <th scope="row">Bank Accounts</th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Stocks & Shares</th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                </tr>
                                <tr class="success">
                                    <th scope="row">Interest in a Trust</th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Building Society Acc.</th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                </tr>
                                <tr class="info">
                                    <th scope="row">Nat. Savings/ P Bonds</th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Cash</th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                </tr>
                                <tr class="warning">
                                    <th scope="row">Car/ Vehicles</th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                </tr>

                                <tr>
                                    <th scope="row">Furniture/ Personal</th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                </tr>
                                <tr class="danger">
                                    <th scope="row">Other</th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                </tr>
                                <tr>
                                    <th scope="row"><b>TOTAL:</b></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                </tr>
                                <tr class="success">
                                    <td scope="row" colspan="2">LIFE ASSURANCE (in trust/ nominated/ Pilot Trust?)</td>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                    <th><input type="text"></th>
                                </tr>
                                <tr>
                                    <td colspan="4">When did you last review your pension or other financial arrangements? Would you like Steele Rose & Co Ltd to arrange for
                                        a Financial Adviser to call you? No cost is involved and a financial review could well save you money, improve your investment
                                        income or increase your pension income.
                                        (If YES Consultant please submit referral form) </td>
                                    <th><input type="checkbox"> YES &nbsp;&nbsp; <input type="checkbox"> NO</th>
                                </tr>
                                <tr>
                                    <th colspan="5">DEATH IN SERVICE BENEFIT (SEE PILOT TRUSTS PAGE 6) AND ANY OTHER FINANCIAL DETAILS?</th>
                                </tr>
                                <tr>
                                    <td colspan="5"><textarea></textarea></td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-md-9">
                            TOTAL ESTATE VALUE (LESS LIABILITIES, MORTGAGES, OVERDRAFTS, CREDIT CARDS ETC) £
                        </div><div class="3"><input type="text"></div> <br>
                        <div class="col-md-10">
                            APPROXIMATE INHERITANCE TAX TO PAY £ <input type="text">
                        </div><br>

                    </form>

                </div>
            </div>
        </div>

        <div class="tab-pane active" id="2">
            <div class="row" style="padding-top: 60px;">
                <form th:action="@{/submit_message}" method="post" style="max-width: 420px; margin: 0 auto;">
                    <div class="col-md-8">
                        <input type="hidden" class="form-control" name="id" th:field="*{show_client.id}"/>
                        <textarea class="form-control" name="message" id="message-text"
                                  placeholder="Write your comments..."
                                  required autofocus></textarea>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Send" class="btn btn-default"/>
                    </div>
                </form>
            </div>

            <div class="row" style="padding-top: 30px;">
                <div class="col-md-10">

                    <table class="table table-bordered table-striped">
                        <tbody>
                        <tr th:each="task : ${linkedComments}">
                            <li class="comment">
                                <div class="comment-wrap">
                                    <div class="comment-author-wrap">
                                        <div class="comment-author">
                                            <label class="col-form-label">Author:</label>
                                            <strong th:text="${task.author}"> author </strong>
                                        </div>
                                        <label class="col-form-label">Date:</label>
                                        <strong th:text="${#dates.format(task.createdAt, 'dd-MM-yyyy HH:mm')}">
                                            Date </strong>
                                    </div>
                                    <div class="comment-content">
                                        <span th:text="${task.message}"> message </span>
                                    </div>
                                    <div class="comment-actions">
                                        <div class="reply">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

        <div class="tab-pane" id="3">

            <div class="row">
                <div class="col-md-8 mx-auto">
                   <h2>Please upload document here.</h2>
                  <!--  <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>-->

                    <form method="post" enctype="multipart/form-data" th:action="@{/upload/{clientId}(clientId=${show_client.id})}" action="#">
                        <div class="form-group">
                            <div class="custom-file">

                                <input type="file" class="custom-file-input" id="customFile" name="file" required autofocus>
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit"> Upload File </button>
                    </form>

                </div>
            </div>

            <div class="row">
                <table>
                    <tbody>
                    <tr class="comment-wrap-tr" th:each="s3file : ${s3FileNames}">
                        <td th:text="${s3file.fileName}"/> <td> &nbsp; </td>
                        <td><a th:href="@{/downloadFile/{fileName}(fileName=${s3file.fileName})}"> Download </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<hr/>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>