<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Steele Rose CRM</title>
    <!--<object th:include="fragments/head :: head" th:remove="tag"></object>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashbord.css}">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="css/navigation.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style type="text/css">
        .card-box {
            border-radius: 20px;
        }
    </style>
</head>

<body class="page-container-bg-solid">
<!--<div th:include="fragments/topmenuheader :: header"></div>-->
<div th:replace="fragm :: menu"></div>
<div class="container">
    <div class="row" style="margin-top:20px">
        <p class="pull-right">
            Hi <span sec:authentication="principal.username">User</span>
        </p>
        <div class="row" style="margin-bottom:30px">
            <div class="col-md-6">
                <h2>Wills Dashboard</h2>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-blue">
                <div class="inner">
                    <h3 th:text="${totalCompanies}"> </h3>
                    <p> Total Companies </p>
                </div>
                <div class="icon">
                    <i class="fa fa-google-wallet" aria-hidden="true"></i>
                </div>
                <a th:href="@{/company}" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-green">
                <div class="inner">
                    <h3 th:text="${totalClients}"> </h3>
                    <p> Total Clients </p>
                </div>
                <div class="icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <a th:href="@{/listClient}" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-orange">
                <div class="inner">
                    <h3 th:text="${deceased}"> </h3>
                    <p> Deceased </p>
                </div>
                <div class="icon">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                </div>
                <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-red">
                <div class="inner">
                    <h3 th:text="${executed}"> </h3>
                    <p> EXEC </p>
                </div>
                <div class="icon">
                    <i class="fa fa-building"></i>
                </div>
                <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>

    <br>
    <br>

    <br>
    <br>
    <div class="row">
        <div class="col-xs-3"><a th:href="@{/companyAdd}" class="btn btn-info center-block"> Create a Company </a></div>
        <div class="col-xs-3"><a th:href="@{/company}" class="btn btn-success center-block"> Company Search </a></div>
        <div class="col-xs-3"><a th:href="@{/listClient}" class="btn btn-primary center-block"> Client Search </a></div>
        <div class="col-xs-3"><a th:href="@{/activeClient}" class="btn btn-warning center-block">Active Client</a></div>
    </div>


</div><!--
<div th:include="fragments/homefooter :: footer"></div>-->

</body>
</html>